@import "variables";

body {
    font-size: 12px;
    color: $font-color;
    font-family: 'Abel', sans-serif;
    margin: 0;
}

.container {
    max-width: 80%;
    margin: auto;
}

main {
    min-height: 500px;
}

.layout {
    .m_main_menu {
        a, p, span {
            color: unset;
            text-decoration: none;
        }

        color: $font-color;
        background: $white;
        display: flex;
        justify-content: end;
        height: $main-menu-height;
        line-height: $main-menu-height;
        align-items: center;

        &.m_back-color-black {
            background: $black;
        }

        &.m_text-color-white {
            color: $white;
        }

        .m_menu-item {
            margin-left: 40px;
            text-align: center;
            text-transform: uppercase;
            border-radius: 0.5rem;
            cursor: pointer;

            &.icon > * {
                display: flex;
                align-items: center;
            }

            &.active {
                color: $font-color_active;
            }

            &:hover, &:active, &:focus {
                transition: 0.5s;
                color: $font-color_active;
            }
        }
    }
}
