$red: rgb(255, 73, 73);
$blue: rgb(54, 206, 255);
$black: #212529;
$white: rgb(255, 255, 255);
$gold: rgba(232, 180, 90, 1);
$background-content: #ffffff;
$font-color: #494949;
$font-color_active: $gold;
$font-color_light: rgba(73, 73, 73, 0.5);
$font-color_lightest: rgba(73, 73, 73, 0.3);
$main-menu-height: 40px;
